.btn1{
	background: red;
	color: #fff;
}
.nombre{
	color: blue;
	font-size: 40px;
}
.caja1 , .caja2{
	width: 45%;
	float: left;
	border: 2px solid red;
	height: 400px;
}
.caja1{
	background: blue;
}
.caja2{
	background: orange;
}
.caja3,.caja4,.caja5{
	width: 30%;
	float: left;
	border: 2px solid red;
	height: 400px;
}
.caja3{background: black;}
.caja4{background: green;}
.caja5{background: yellow;}







@media (max-width: 1000px){
	.btn1{
		background: black;
	}
	.nombre{
		color: green;
	}
}
@media (max-width: 500px){
	.btn1{
		background: orange;
	}
	.caja1,.caja2,.caja3,.caja4,.caja5{
		width: 100%;
	}
	.nombre{
		color: red;
		font-size: 20px;
	}
}
@media (max-width: 800px) and (min-width: 501px){
	.btn1{
		background: blue;
	}
	.nombre{
		color: orange;
	}
}
@media print {
	.nombre{
		font-size: 140px;
	}
	.btn1{
		display: none;

	}
}


